services:
  prod:
    image: iwinter78/microblog:${VERSION:-1.0.0-prod}
    build:
      context: .
      dockerfile: docker/Dockerfile_prod
    environment:
      - DATABASE_URL=mysql+pymysql://microblog:microblog@db.snabbnudlar.dev:3306/microblog
    ports:
      - "8000:5000"
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
        failure_action: rollback
      rollback_config:
        parallelism: 1
        delay: 5s

  prod-database:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: microblog
      MYSQL_USER: microblog
      MYSQL_PASSWORD: microblog
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - db:/docker-entrypoint-initdb.d

  test:
    image: iwinter78/microblog:1.0.0-test
    build:
      context: .
      dockerfile: docker/Dockerfile_test
    depends_on:
      - test-database
    volumes:
      - ./app:/home/microblog/app
      - ./migrations:/home/microblog/migrations
    ports:
      - "8000:5000"

  test-database:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: microblog_test
      MYSQL_USER: microblog
      MYSQL_PASSWORD: microblog
    ports:
      - "3307:3306"

volumes:
  db_data:
  db: