- name: get new images in docker swarm
  shell: docker compose pull
  args:
    chdir: /home/deploy/microblog

- name: redeploy docker stack
  shell: docker stack deploy -c docker-compose.yml microblog
  args:
    chdir: /home/deploy/microblog