- name: get new images in docker swarm
  shell: VERSION={{ version }}-prod docker compose pull
  args:
    chdir: /home/deploy/microblog
  when: inventory_hostname == 'appserver1.snabbnudlar.dev'

- name: set new version fact
  shell: docker compose images prod | awk 'NR==2 {print $2}'
  args:
    chdir: /home/deploy/microblog
  register: new_version
  when: inventory_hostname == 'appserver1.snabbnudlar.dev'

- name: force update docker services with new image
  shell: docker service update --force --image your-registry/microblog:{{ version }}-prod microblog_prod
  args:
    chdir: /home/deploy/microblog
  when: inventory_hostname == 'appserver1.snabbnudlar.dev'
