---

- name: create working directory
  become: true
  file:
    path: /home/deploy/microblog
    state: directory
    owner: deploy
    group: deploy
    mode: '0755'

- name: ensure monitoring packages are installed
  become: true
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - prometheus
    - grafana
    - prometheus-node-exporter

- name: start all monitoring services
  become: true
  systemd:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - prometheus
    - grafana-server
    - prometheus-node-exporter

- name: copy prometheus configuration file
  become: true
  copy:
    src: ../../../../prometheus.yml
    dest: /etc/prometheus/prometheus.yml
  notify: restart prometheus

- name: wait for grafana to be ready
  uri:
    url: http://localhost:3000/api/health
    status_code: 200
  register: result
  until: result.status == 200
  retries: 30
  delay: 2

- name: add prometheus as datasource in grafana
  become: true
  community.grafana.grafana_datasource:
    name: Prometheus
    ds_type: prometheus
    url: http://localhost:9090
    access: proxy
    is_default: true
    grafana_url: http://localhost:3000
    grafana_user: admin
    grafana_password: admin

- name: create working directory
  become: true
  file:
    path: /home/deploy/microblog
    state: directory
    owner: deploy
    group: deploy
    mode: '0755'

- name: Ensure monitoring packages are installed
  become: true
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - prometheus
    - grafana
    - prometheus-node-exporter

- name: start all monitoring services
  become: true
  systemd:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - prometheus
    - grafana-server
    - prometheus-node-exporter

- name: copy prometheus configuration file
  become: true
  copy:
    src: ../../../../prometheus.yml
    dest: /etc/prometheus/prometheus.yml
  notify: restart prometheus

- name: add prometheus as datasource in grafana
  become: true
  community.grafana.grafana_datasource:
    name: Prometheus
    ds_type: prometheus
    url: http://localhost:9090
    access: proxy
    is_default: true
    grafana_url: http://localhost:3000
    grafana_user: admin
    grafana_password: admin