---
-   hosts: local
    connection: local
    gather_facts: False
    collections:
        - azure.azcollection
    roles:
        - gather_instances

-   name: create security groups
    hosts: local
    gather_facts: False
    roles: 
        - security_groups