# Gather EC2 facts from remote instance
---
-   hosts: local
    connection: local
    gather_facts: False
    collections:
        - azure.azcollection
    roles:
        - gather_instances



-   name: remove instance
    hosts: provision_targets
    connection: local
    gather_facts: False
    collections:
        - azure.azcollection
    roles:
        - terminate_instances



-   name: remove networks
    hosts: local
    gather_facts: False
    tasks:
        -   include_tasks: roles/terminate_instances/tasks/vnet.yml
    collections:
        - azure.azcollection



-   name: remove security groups
    hosts: local
    gather_facts: False
    vars:
        state: absent
    roles: 
        - security_groups

-   name: Clear hosts file
    hosts: localhost
    connection: local
    gather_facts: False
    tasks:
        -   name: Reset hosts file to default
            copy:
                content: |
                    [local]
                    localhost ansible_connection=local

                    [provision_targets]
                    appserver1
                    appserver2
                    database
                    loadbalancer
                    
                    [app_servers]
                    
                    [db_servers]
                    
                    [load_balancers]
                    
                    [devops:children]
                    app_servers
                    db_servers
                    load_balancers
                    
                    [webservers:children]
                    app_servers
                    
                    [databases:children]
                    db_servers
                dest: "{{ playbook_dir }}/hosts"
                backup: yes